# Core libs
Pillow
psycopg2
Django
django-cors-headers
graphene-django
django-graphql-extensions
django-graphql-auth
django-model-utils
requests
pre-commit

# dev
django-extensions

# testing
factory-boy
