<!DOCTYPE html>
<html lang="en">

{% load humanize %}
{% load static %}
{% load i18n %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sharky - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    {% block extra_css %}
    {% endblock %}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Sharky</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            {% if request.user.is_superuser %}
              <!-- Nav Item - Dashboard -->
              <li class="nav-item {% block nav_dashboard %}{% endblock %}">
                  <a class="nav-link" href="{% url 'dashboard' %}">
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>Dashboard</span></a>
              </li>

            {% else %}
              <!-- Nav Item - Dashboard -->
              <li class="nav-item {% block nav_profile %}{% endblock %}">
                <a class="nav-link" href="{% url 'lending:borrowers-detail' request.user.pk %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
              </li>
              <!-- Divider -->
              <hr class="sidebar-divider">
            {% endif %}

            <!-- Heading -->
            <div class="sidebar-heading">
                Loans
            </div>

            <!-- Nav Item - Amortizations -->
            <li class="nav-item {% if show_amortization_menu %}active{% endif %}">
                <a class="nav-link {% if not show_amortization_menu %}collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#collapseAmortizations"
                    aria-expanded="{% if show_amortization_menu %}true{% else %}false{% endif %}" aria-controls="collapseAmortizations">
                    <i class="fas fa-fw fa-file-invoice-dollar"></i>
                    <span>{% trans "Amortizations" %}</span>
                </a>
                <div id="collapseAmortizations" class="collapse {% if show_amortization_menu %}show{% endif %}" aria-labelledby="headingBorrowers"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!-- <h6 class="collapse-header">Amortizations:</h6> -->
                        <a class="collapse-item {% block nav_past_due %}{% endblock %}" href="{% url 'lending:past-due-list' %}">
                            {% trans "Past Due" %}
                        </a>
                        <a class="collapse-item {% block nav_upcoming_due %}{% endblock %}" href="{% url 'lending:upcoming-due-list' %}">
                            {% trans "Upcoming Due" %}
                        </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Active Loans -->
            <li class="nav-item {% block nav_active_loans %}{% endblock %}">
            <a class="nav-link" href="{% url 'lending:loans-active' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Active Loans</span></a>
            </li>

            {% if request.user.is_superuser %}
                <!-- Nav Item - Borrowers -->
                <li class="nav-item {% block nav_borrowers %}{% endblock %}">
                    <a class="nav-link {% if not borrower %}collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#collapseBorrowers"
                        aria-expanded="{% if borrower %}true{% else %}false{% endif %}" aria-controls="collapseBorrowers">
                        <i class="fas fa-fw fa-users"></i>
                        <span>{% trans "Borrowers" %}</span>
                    </a>
                    <div id="collapseBorrowers" class="collapse {% if borrower %}show{% endif %}" aria-labelledby="headingBorrowers"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <!-- <h6 class="collapse-header">Borrowers:</h6> -->
                            {% for brwr in borrowers_list %}
                                <a class="collapse-item {% if borrower == brwr %}active{% endif %}" href="{% url 'lending:borrowers-detail' brwr.pk %}">
                                    {{ brwr.get_full_name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.get_full_name }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'img/undraw_profile_3.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'accounts:password-change' %}">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div {% if message.tags %} class=" alert alert-{{ message.tags }} " {% endif %}>
                                {{ message }}
                            </div>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% block content %}
                    {% endblock %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Sharky 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <script type="text/javascript">
        window.earningsGraphUrl = "{% url 'lending:earnings-graph' %}";
        window.LoanSourcesGraphUrl = "{% url 'lending:loan-sources-graph' %}";
        window.moneyReturnedGraphUrl = "{% url 'lending:money-returned-graph' %}";
    </script>

    {% block extra_js %}
    {% endblock %}

</body>

</html>
