{% load humanize %}

<table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
    <thead class="table-primary">
        <tr>
            {% if request.user.is_superuser %}
                <th>Borrower</th>
            {% endif %}
            <th>Loan Date</th>
            {% if request.user.is_superuser %}
                <th>Loan Sources</th>
            {% endif %}
            <th>Payment Stage</th>
            <th>Amount Due</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for amortization in amortizations %}
            <tr>
                {% if request.user.is_superuser %}
                    <td>{{ amortization.loan.borrower.get_full_name }}</td>
                {% endif %}
                <td>{{ amortization.loan.loan_date|date:"M d, Y" }}</td>
                {% if request.user.is_superuser %}
                    <td>
                        <ul>
                            {% for source in amortization.loan.sources.all %}
                                <li>{{ source.capital_source.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                {% endif %}
                <td>{{ amortization.payment_stage }}</td>
                <td>{{ amortization.amount_due|floatformat:0|intcomma }}</td>
                <td>{{ amortization.due_date|date:"M d, Y" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
