{% extends "base.html" %}

{% load humanize %}
{% load static %}

{% block nav_past_due %}active{% endblock %}

{% block content %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Past Due Amortization</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead class="table-primary">
                        <tr>
                            {% if request.user.is_superuser %}
                                <th>Borrower</th>
                            {% endif %}
                            <th>Loan Date</th>
                            {% if request.user.is_superuser %}
                                <th>Loan Source</th>
                            {% endif %}
                            <th>Payment Stage</th>
                            <th>Amount Due</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for amortization in amortizations %}
                            <tr>
                                {% if request.user.is_superuser %}
                                    <td>{{ amortization.loan.borrower_old }}</td>
                                {% endif %}
                                <td>{{ amortization.loan.loan_date|date:"M d, Y" }}</td>
                                {% if request.user.is_superuser %}
                                    <td>{{ amortization.loan.source.capital_source.get_source_display }}</td>
                                {% endif %}
                                <td>{{ amortization.payment_stage }}</td>
                                <td>{{ amortization.amount_due|floatformat:0|intcomma }}</td>
                                <td>{{ amortization.due_date|date:"M d, Y" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
